/*general styling*/

h1 {
    color: #fff;
    font-size: 5em;
    text-align: center;
}
.bot,
.top {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 5;
}
.bot {
    position: relative;
    background: rgb(0, 0, 0);
}
.top {
    position: absolute;
    top: 20%;
    left: 0;
}

/*Navigation*/


/*Trigger*/

.cd-nav-trigger {
    transition: transform 0.5s;
}
.navigation-is-open .cd-nav-trigger {
    /*    Rotate trigger when nav becomes visible*/
    transform: rotate(180deg);
}
.cd-nav-trigger .cd-nav-icon::before,
.cd-nav-trigger .cd-nav-icon::after {
    /*    upper and lower lines of menu icon*/
    width: 100%;
    height: 100%;
    transition: transform 0.5s, width 0.5s, top 0.3s;
}
.cd-nav-trigger .cd-nav-icon::before {
    transform-origin: right top;
    transform: translateY(-6px);
}
.cd-nav-trigger .cd-nav-icon::after {
    transform-origin: right bottom;
    transform: translateY(6px);
}

/*trgger on nav open*/

.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
    /*    Animate from hamburger to arrow*/
    width: 50%;
    transition: transform 0.5s, width 0.5s;
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
    transform: rotate(45deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
    transform: rotate(-45deg);
}
.cd-nav-trigger circle {
    /*    circle border animation*/
    transition: stroke-dashoffset 0.4s 0s;
}
.navigation-is-open .cd-nav-trigger circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.4s 0.3s;
}

/*Personal effort*/

.cd-navigation-wrapper {
    transform: translateX(-100%);
    position: absolute;
}
.cd-navigation-wrapper-anim {
    animation: move0 4s 1s cubic-bezier(.86, .01, .77, .78) forwards;
}
@keyframes move0 {
    from {}
    to {
        transform: translateX(0);
    }
}
.bot-anim {
    animation: move100 4s 1s cubic-bezier(.86, .01, .77, .78) forwards;
}
@keyframes move100 {
    from {}
    to {
        transform: translateX(100%);
    }
}
